* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*----------------
 banner style
 ----------------- */
.banner {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.full-banner {
    height: 60vh;
    width: 90%;
    background-color: black;
    display: flex;
    border-radius: 20px;

}

.banner-text {
    height: 100%;
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;

}

.button {
    text-decoration: none;
    background-color: #DD0000;
    color: white;
    font-weight: 900;
    padding: 16px 25px;
    border-radius: 5px;
    margin-top: 40px;
    width: 27%;

}

.banner-img {
    height: 100%;
    width: 50%;
}

.banner-img img {
    height: 100%;
}

/* ========================
            main section style
    ============================= */
.main-contant {
    display: flex;
    justify-content: space-evenly;
}

.nev-box {
    background: #161616;
    border-radius: 10px;
    display: grid;
    align-content: space-evenly;
    justify-items: center;
    width: 312px;
    height: 312px;

}

.page-link {
    text-decoration: none;
    background-color: white;
    width: 90%;
    padding: 10px 50px;
    font-size: 20px;
    border-radius: 10px;
    color: #000;
    text-align: center;
}

#live {
    background-color: #DD0000;
}

/* =====================
            cards style
    =========================== */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
    margin-top: 3px;
    align-items: center;
}

.card {
    display: grid;
    border: 1px solid rgb(207, 202, 202);
    border-radius: 10px;
    padding: 10px;
}

.card img {
    width: 312px;
    height: 175px;
}

.card-btn {
    margin-top: 6px;
    width: 100px;
    height: 32px;

}

.card-icon {
    display: flex;
}

.fa-clock {
    margin-right: 20px;
}

/* view all button style  */
.last-btn {
    margin: 10%;
    text-align: center;
}

.view-btn {
    background-color: #DD0000;
    width: 20%;
    padding: 10px 50px;
    font-size: 20px;
    border-radius: 5px;
    color: #ffff;
    border: 0;

}




/* footer style */
footer {
    margin-top: 50px;
    background-color: black;
    /* height: 200px; */
    text-align: center;
}

footer p {
    font-size: 25px;
    color: white;
}

.footer-need {
    color: white;
    font-size: 50px;
}

.footer-last {
    align-content: center;

    height: 110px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-top: 2px solid gray;

    margin-top: 50px;
}

/* responsive style */

/* dextop devices style */
@media only screen and (min-width:1600px) {
    .last-btn {
        display: none;
    }

}

/* tablet devices style*/
@media only screen and (min-width:688px) and (max-width:1600px) {
    .main-contant {
        flex-direction: column;
    }

    .box-style {
        display: flex;
        justify-content: center;

    }

    .nev-box {
        background-color: white;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0px;
        justify-content: center;

    }

    .page-link {
        border: 2px solid black;
    }
}

/* mobile devices style */
@media only screen and (max-width:688px) {
    .banner {
        flex-direction: column;
        height: 100%;
    }

    .banner-text {
        width: 100%;
    }

    .button {
        width: 40%;
    }

    .full-banner {
        flex-direction: column;
        height: 100%;
    }

    .main-contant {
        flex-direction: column;
    }

    .box-style {
        display: flex;
        justify-content: center;

    }

    .nev-box {
        background-color: white;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;
        justify-content: center;
        justify-items: center;

    }

    .page-link {
        border: 2px solid black;
    }

    .last-btn {
        display: none;
    }

    .footer-last {
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
    }
}